.table-container {
  max-width: 1300px;
  margin:auto;
  @media (max-width: 715px) {
    #root {
      width: 100%;
    }
  }
}



.table-cells-container{
}

.input-container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}