.input-style{
  margin-top: 4px;
  border: 3px #90caf9;
  border-radius: 3px;
  display: block;
  min-width: 50px;
  min-height: 25px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.17);
  margin-bottom: 20px;
  font-family: Roboto;
}