//.link {
//  color: #FFF;
//}
//.link:hover {
//  color: #00F
//}

a {
  color: #FFF;
}
a:hover {
  color: oldlace;
}

.selected{
  border-bottom: 4px solid white;
  border-radius: 1px;
  transition: 0.1s ease-out 0.1s;
}